@charset "UTF-8";

.u-bdt-n {
  border-top: none !important;
}

.u-bdr-n {
  border-right: none !important;
}

.u-bdb-n {
  border-bottom: none !important;
}

.u-bdl-n {
  border-left: none !important;
}
