{
  "semi": true,
  "printWidth": 140,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ".babelrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
