@charset "UTF-8";

.history {
  display: flex;
  max-width: $block-width-pc;
  margin: auto;
  margin-bottom: -25px;
  padding: 0 15px;

  &_date {
    position: sticky;
    top: 20px;
    display: flex;
    flex: 0 0 80px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    padding-top: 32px;
    color: $blue02;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    background: $white01;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 5px rgba(#000, 0.1);

    @include sp {
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      padding-top: 20px;
      font-size: 1.1rem;
    }

    &-year {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 32px;
      color: $white01;
      font-size: 1.2rem;
      line-height: 32px;
      background: $green02;

      @include sp {
        height: 20px;
        font-size: 1rem;
        line-height: 20px;
      }
    }
  }

  &_detail {
    flex: 1;
    max-width: calc(100% - 25px - 80px);
    margin-left: 25px;

    @include sp {
      max-width: calc(100% - 15px - 50px);
      margin-left: 15px;
    }
  }

  &_total {
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;
      display: flex;
      flex: 0 0 calc(50% - 5px);
      box-sizing: border-box;
      padding: 6px 14px 6px 84px;
      font-size: 1.6rem;
      background: #fff;

      @include sp {
        padding: 6px 10px 6px 45px;
        font-size: 1.3rem;
      }
    }

    &-label {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 100%;
      color: #fff;
      font-size: 1.4rem;
      background: $blue02;

      @include sp {
        width: 35px;
        font-size: 1.1rem;
      }
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @include sp {
      display: block;
      margin-top: 10px;
    }
  }

  &_list-item {
    position: relative;
    box-sizing: border-box;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 25px;
    padding: 20px;
    background: $white01;
    border: solid 2px $blue01;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.3s ease-out;

    @include sp {
      width: 100%;
      margin-right: 0;
      padding: 14px 16px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &_money {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1;

    @include sp {
      font-size: 2.3rem;
    }

    &::before {
      content: '-';
    }

    &--positive {
      color: $green01;

      &::before {
        content: '+';
      }
    }

    &--neutral {
      color: $green02;

      &::before {
        display: none;
      }
    }
  }

  &_user {
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 2;
    width: 40px;
    margin: 0;
    padding: 4px 0;
    color: $blue02;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    background: $blue01;

    @include sp {
      font-size: 1.2rem;
    }

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-right: 20px solid $blue01;
      border-bottom: 10px solid transparent;
      border-left: 20px solid $blue01;
      content: '';
    }
  }

  &_tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
  }

  &_tag-list-item {
    margin-right: 15px;
    font-size: 1.5rem;

    @include sp {
      font-size: 1.2rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &_excerpt {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 9px 12px;
    overflow: hidden;
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba($blue01, 0.3);

    @include sp {
      padding: 4px 7px;
      font-size: 1.3rem;
    }
  }
}
