@charset "UTF-8";

.list-definition {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 14px;
  font-weight: bold;
  background-color: #fff;

  @include sp {
    padding: 8px 12px;
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &_term {
    font-size: 1.5rem;

    @include sp {
      font-size: 1.2rem;
    }
  }

  &_description {
    margin-left: 10px;
    font-size: 3rem;

    @include sp {
      margin-left: 0;
      font-size: 2.5rem;
    }
  }
}

.list-expenditure {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto -15px;

  @include sp {
    display: block;
    margin: 20px auto -10px;
  }

  &_item {
    display: flex;
    align-items: center;
    width: 270px;
    margin-right: 70px;
    margin-bottom: 15px;
    font-size: 1.5rem;

    @include sp {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &_name {
    flex: 0 0 155px;
  }

  &_value {
    @include sp {
      flex: 1;
      text-align: right;
    }
  }
}
