@charset "UTF-8";

.message {
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
  width: 100vw;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  background: rgba(#3c9da1, 0.9);
  transition: opacity 0.4s ease-out;

  @include pwa {
    top: $header-height-pwa;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &--error {
    color: #f00;
    background: rgba(#fff2f2, 0.9);
  }
}
