@charset "UTF-8";

.text-strong-lv1 {
  font-weight: bold;
  font-size: 2.2rem;
}

.text-small {
  font-size: 65%;
}

.text-money {
  font-weight: bold;

  &--negative {
    color: $red01;
  }

  &--positive {
    color: $green01;

    &::before {
      content: '+';
    }
  }
}
