@charset "UTF-8";

@for $i from 0 through 20 {
  .u-mt-#{$i * 5} {
    margin-top: #{$i * 5}px !important;
  }

  .u-mt-#{$i * 5}-pc {
    @include pc {
      margin-top: #{$i * 5}px !important;
    }
  }

  .u-mt-#{$i * 5}-sp {
    @include sp {
      margin-top: #{$i * 5}px !important;
    }
  }

  .u-mr-#{$i * 5} {
    margin-right: #{$i * 5}px !important;
  }

  .u-mr-#{$i * 5}-pc {
    @include pc {
      margin-right: #{$i * 5}px !important;
    }
  }

  .u-mr-#{$i * 5}-sp {
    @include sp {
      margin-right: #{$i * 5}px !important;
    }
  }

  .u-mb-#{$i * 5} {
    margin-bottom: #{$i * 5}px !important;
  }

  .u-mb-#{$i * 5}-pc {
    @include pc {
      margin-bottom: #{$i * 5}px !important;
    }
  }

  .u-mb-#{$i * 5}-sp {
    @include sp {
      margin-bottom: #{$i * 5}px !important;
    }
  }

  .u-ml-#{$i * 5} {
    margin-left: #{$i * 5}px !important;
  }

  .u-ml-#{$i * 5}-pc {
    @include pc {
      margin-left: #{$i * 5}px !important;
    }
  }

  .u-ml-#{$i * 5}-sp {
    @include sp {
      margin-left: #{$i * 5}px !important;
    }
  }
}
