@charset "UTF-8";

// color
$base-color: #f6f6f6;
$gray01: #f3f3f3;
$gray02: #e8e8e8;
$gray03: #cfcfcf;
$white01: #fff;
$black01: #000;
$black02: #333;
$blue01: #d5deef;
$blue02: #394a6d;
$green01: #52de97;
$green02: #3c9d9b;
$red01: #f00;
$red02: #fff2f2;

// size
$pc-width: 751px;
$sp-width: 750px;
$header-height: 50px;
$header-height-pwa: 80px;
$nav-height-pc: 100px;
$nav-height-sp: 70px;
$block-width-pc: 950px;
$block-width-sp: 100%;

// path
$path-img: './assets/img';
